<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bodo - Simple One Page Personal</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Bodo - Simple One Page Personal" name="description">
    <meta content="BdgPixel" name="author">
    <!--Fav-->
    <link href="/assets/images/favicon.ico" rel="shortcut icon">

    <!--styles-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <!--fonts google-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
       <script type="text/javascript" src="js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--PRELOADER-->
    <div id="preloader">
      <div id="status">
        <img alt="logo" src="/assets/logo-big.png">
      </div>
    </div>
    <!--/.PRELOADER END-->

    <!--HEADER -->
    <div class="header">
      <div class="for-sticky">
        <!--LOGO-->
        <div class="col-md-2 col-xs-6 logo">
          <a><img alt="logo" class="logo-nav" src="/assets/logo.png"></a>
        </div>
        <!--/.LOGO END-->
      </div>
      <div class="menu-wrap">
        <nav class="menu">
          <div class="menu-list">
            <a data-scroll="" href="#home" class="active">
              <span>Home</span>
            </a>
            <a data-scroll="" href="#about">
              <span>About</span>
            </a>
            <a data-scroll="" href="#work">
              <span>Projects</span>
            </a>
             <a data-scroll="" href="#services">
              <span>Languages</span>
            </a>
            <a data-scroll="" href="#employement">
              <span>Employement</span>
            </a>
            <a data-scroll="" href="#skill">
              <span>Skills</span>
            </a>
            <a data-scroll="" href="#education">
              <span>Education</span>
            </a>
            <a data-scroll="" href="#testimonial">
              <span>Testimonial</span>
            </a>
            <a data-scroll="" href="#blog">
              <span>Blog</span>
            </a>
            <a data-scroll="" href="#contact">
              <span>Contact</span>
            </a>
          </div>
        </nav>
        <button class="close-button" id="close-button">Close Menu</button>
      </div>
      <button class="menu-button" id="open-button">
        <span></span>
        <span></span>
        <span></span>
      </button><!--/.for-sticky-->
    </div>
    <!--/.HEADER END-->

    <!--CONTENT WRAP-->
    <div class="content-wrap">
      <!--CONTENT-->
      <div class="content">
        <!--HOME-->
        <section id="home">
          <div class="container">
            <div class="row">
              <div class="wrap-hero-content">
                  <div class="hero-content">
                    <h1>Hello</h1>
                    <br>
                    <span class="typed"></span>
                  </div>
              </div>
              <div class="mouse-icon margin-20">
                <div class="scroll"></div>
              </div>
            </div>
          </div>
        </section>
        <!--/.HOME END-->

        <!--ABOUT-->
        <section id="about">
          <div class="col-md-6 col-xs-12 no-pad">
            <div class="bg-about"></div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 white-col">
            <div class="row">
              <!--OWL CAROUSEL2-->
              <div class="owl-carousel2">
                <div class="col-md-12">
                  <div class="wrap-about">
                    <div class="w-content">
                      <p class="head-about">
                        Data Science is everywhere. The explosive growth of the digital world requires professionals with not just strong skills, but also adaptability and a passion for staying on the forefront of technology.
                        With the objective of grasping this technology, my aim is not to be something but to be someone.
                      </p>

                      <h5 class="name">
                        Taral Gurung
                      </h5>
                      <img alt="signature" src="/assets/signature.png">
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 white-col">
                  <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                      <div class="wrap-about">
                        <table class="w-content">
                          <tr>
                            <td class="title">Name </td>
                            <td class="break">:</td>
                            <td> Taral Gurung</td>
                          </tr>
                          <tr>
                            <td class="title">Phone </td>
                            <td class="break">:</td>
                            <td> +852 97384449</td>
                          </tr>
                          <tr>
                            <td class="title">Email </td>
                            <td class="break">:</td>
                            <td> taralgurung@hotmail.com</td>
                          </tr>
                          <tr>
                            <td class="title">Location </td>
                            <td class="break">:</td>
                            <td> Hong Kong</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/.OWL CAROUSEL2 END-->
            </div>
          </div>
        </section>
        <!--/.ABOUT END-->

        <!--WORK-->
        <section class="grey-bg mar-tm-10" id="work">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Projects</span>
                </h3>
                <p class="content-detail">
                  Collection of Projects that I have been involved in the past few months. Taral has contributed in both the Front-End and Back-End aspects of the projects.
                </p>
              </div>
              <div class="col-md-9 content-right">
                <!--PORTFOLIO IMAGE-->
                <ul>
                  <p class="col-md-6">
                    <a href="https://event-tickets-platform.herokuapp.com/" target="_blank"><img alt="image" src="/assets/bw-3.png" style="width:300px;height:300px;">
                    </a>
                  </p>
                  <p class="col-md-6">
                    <a href="https://article-archiver.herokuapp.com/" target="_blank"><img alt="image" src="/assets/bw-2.png" style="width:300px;height:300px;">
                    </a>
                  </p>
                  <p class="col-md-6">
                    <a href="https://team-finder-project.herokuapp.com" target="_blank"><img alt="image" src="/assets/bw-1.png" style="width:280px;height:286px;">
                    </a>
                  </p>
                  <p class="col-md-6">
                    <a><img alt="image" src="/assets/data.png" style="width:326px;height:321px;">
                    </a>
                  </p>
                  <!-- <li class="col-md-6">
                    <a href="/assets/bw-5.png"><img alt="image" src="/assets/bw-5.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Presentation
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="/assets/bw-6.png"><img alt="image" src="/assets/bw-6.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Letter Branding
                          </p>
                        </div>
                      </div>
                    </a>
                  </li> -->
                <!--/.PORTFOLIO IMAGE END-->
              </div>
            </div>
          </div>
        </section>
        <!--/.WORK END-->

        <!--SERVICES-->
        <section class="white-bg" id="services">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Languages</span>
                </h3>
                <p class="content-detail">
                  Taral spent 1000+ hours to learn the fundamentals of the following programming languages. He considers his skill-set equivalent to a Junior level Developer. He is constantly learning new things at a fast pace and possesses the necessary skills required to adapt and acquire new languages.
                </p>
              </div>
              <div class="col-md-9 content-right">
                <div class="row">

                  <ul class="listing-item">

                    <li>
                      <div class="col-md-6 col-sm-6">
                        <h4>
                          Front-end
                        <h4>
                            <a><img alt="image" src="/assets/javascript.png" style="width:122px;height:118px;">
                            <a><img alt="image" src="/assets/ember.jpg" style="width:112px;height:90px;">
                            <a><img alt="image" src="/assets/angular.jpg" style="width:129px;height:139px;">
                            <a><img alt="image" src="/assets/jquery.png" style="width:116px;height:109px;">
                            <a><img alt="image" src="/assets/html5.png" style="width:128px;height:115px;">
                            <a><img alt="image" src="/assets/css.png" style="width:121px;height:116px;">
                      </div>
                    </li>

                    <li>
                      <div class="col-md-6 col-sm-6">
                        <h4>
                          Back-end
                        </h4>
                        <a><img alt="image" src="/assets/rails.png" style="width:116px;height:97px;">
                        <a><img alt="image" src="/assets/ruby.png" style="width:130px;height:117px;">
                        <a><img alt="image" src="/assets/sql.png" style="width:128px;height:121px;"><br/>
                        <br />
                        <a><img alt="image" src="/assets/ajax.jpg" style="width:116px;height:100px;">
                      </div>
                    </li>

                  </ul>


                  <ul class="listing-item">
                    <li>
                      <div class="col-md-6 col-sm-6">
                        <h4>
                          Data-Science and Machine Learning
                        </h4>
                        <a><img alt="image" src="/assets/Python.png" style="width:116px;height:97px;">
                        <a><img alt="image" src="/assets/seaborn.svg" style="width:130px;height:117px;">
                        <a><img alt="image" src="/assets/jupyter.png" style="width:116px;height:109px;">
                        <a><img alt="image" src="/assets/pandas.png" style="width:232px;height:56px;">
                        <a><img alt="image" src="/assets/matplotlib.svg" style="width:128px;height:121px;">
                        <a><img alt="image" src="/assets/numpy.jpeg" style="width:182px;height:70px;">
                      </div>
                    </li>



                    <li>
                      <div class="col-md-6 col-sm-6">
                        <h4>
                          Others
                        </h4>
                        <a><img alt="image" src="/assets/bootstrap.png" style="width:132px;height:128px;">
                        <a><img alt="image" src="/assets/github.gif" style="width:109px;height:94px;">
                        <a><img alt="image" src="/assets/angular.jpg" style="width:132px;height:130px;">
                        <a><img alt="image" src="/assets/heroku.png" style="width:136px;height:128px;">
                        <a><img alt="image" src="/assets/api.jpg" style="width:105px;height:89px;">
                       </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/.SERVICES END-->

        <!--EMPLOYEMENT-->
        <section class="grey-bg" id="employement">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Employement</span>
                </h3>
                <p class="content-detail">
                  Taral's professional work experience is not limited in the Accounting and Finance sector but also in the field of Education,Management,Sales, etc.
                </p>
              </div>
              <div class="col-md-9 content-right">
                <div class="row">
                  <ul class="listing-item">
                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              2016
                            </h2>
                            <p class="job">
                              Forensic Accountant
                            </p>
                            <p class="company">
                              Zolfo Cooper
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                Zolfo Cooper is a leading independent provider of restructuring, financial and corporate advisory solutions.
With offices and affiliations in the world's leading financial centers, we assist clients both locally and internationally to deliver solutions spanning the middle-market to the largest and most complex cross-border situations.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              2015-2016
                            </h2>
                            <p class="job">
                              Broker/Consultant
                            </p>
                            <p class="company">
                              Convoy Asset Management Limited
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                Convoy Asset Management Limited is licensed by the Securities and Futures Commission of Hong Kong for Type 1, 4 and 9 regulated activities, provides variety of Investment Funds, Nominee Services, Portfolio Management Services and Discretionary Management Accounts.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <ul class="listing-item">
                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              2014 - 2015
                            </h2>
                            <p class="job">
                              Shift-Manager
                            </p>
                            <p class="company">
                              Ryze Hong Kong
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                Freelance Business Studies Teacher.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              2012 - 2015
                            </h2>
                            <p class="job">
                              Business Studies/Economics Teacher
                            </p>
                            <p class="company">
                              Freelance
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>

                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/.EMPLOYEMENT END-->

        <!--SKILLS-->
        <section class="white-bg" id="skill">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Skills</span>
                </h3>
                <p class="content-detail">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>
              </div>
              <div class="col-md-9 content-right">
                <!--SKILLST-->
                <div class="skillst">
                  <div class="skillbar" data-percent="78%">
                    <div class="title head-sm">
                      HTML 5
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div>
                  <div class="skillbar" data-percent="91%">
                    <div class="title head-sm">
                      CSS 4
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div>
                  <div class="skillbar" data-percent="58%">
                    <div class="title head-sm">
                      jQuery
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div>
                  <div class="skillbar" data-percent="63%">
                    <div class="title head-sm">
                      PHP
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div>
                  <div class="skillbar" data-percent="95%">
                    <div class="title head-sm">
                      Photoshop
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div>
                </div>
                <!--/.SKILLST END-->
              </div>
            </div>
          </div>
        </section>
        <!--/.SKILLS END-->

        <!--EDUCATION-->
        <section class="grey-bg" id="education">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Education</span>
                </h3>
                <p class="content-detail">
                  <!-- Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. -->
                </p>
              </div>
              <div class="col-md-9 content-right">
                <div class="row">
                  <ul class="listing-item">
                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              2012 - 2015
                            </h2>
                            <p class="job">
                              Accounting and Finance
                            </p>
                            <p class="company">
                              University of Bradford School of Management
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                <!-- Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes. -->
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              2005 - 2012
                            </h2>
                            <p class="job">
                              Business Studies and Mathematics
                            </p>
                            <p class="company">
                              YMCA of HK Christian College
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>

                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <ul class="listing-item">
                    <li>
                      <!-- <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              2007 - 2009
                            </h2>
                            <p class="job">
                              Magister DKV
                            </p>
                            <p class="company">
                              ITB
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              2009 - 2010
                            </h2>
                            <p class="job">
                              Typhography Magister
                            </p>
                            <p class="company">
                              Florida University
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul> -->

                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/.EDUCATION END-->

        <!--TESTIMONIAL-->
        <section id="testimonial">
          <div class="container">
            <div class="row wrap-testimonial">
              <div class="col-md-10 col-md-offset-1">
                <div class="owl-carousel">
                  <div class="list-testimonial">
                    <div class="content-testimonial">
                      <h3 class="testi">
                        “Taral is an intelligent individual with a unique blend of analytical thinking to assess situations with a creative approach to potential solutions. His group activities were interactive, collaborative and supportive to learn from others and share his thoughts. Taral will be an asset to any organization and fortunate to have him as part of their team.”
                      </h3>
                      <p class="people">
                        Dr. Robert Edmonson
                      </p>
                    </div>
                  </div>
                  <!-- <div class="list-testimonial">
                    <div class="content-testimonial">
                      <h3 class="testi">
                        “ Another successful project working with Reza. He has great design skills, is very responsive and professional. Looking forward to the next opportunity to work together. ”
                      </h3>
                      <p class="people">
                        Marko Milicevic
                      </p>
                    </div>
                  </div> -->
                  <!-- <div class="list-testimonial">
                    <div class="content-testimonial">
                      <h3 class="testi">
                        “ Great designer! I like his sense of design, especially the color scheme. Quick turnaround. Look forward to work with him again. Thanks!! ”
                      </h3>
                      <p class="people">
                        JK Thang
                      </p>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="mask-testimonial"></div>
        </section>
        <!--/.TESTMONIAL END-->

        <!--BLOG-->
        <section class="grey-bg" id="blog">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h3 class="title-small-center text-center">
                  <span>Blog</span>
                </h3>
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <p class="content-details text-center">
                      Here, I will share my thoughts and findings on how the world is shifting towards a data-driven world and how it contributes to the next big thing <br />"ARTIFICAL INTELLIGENCE"
                    </p>
                  </div>
                </div>
                <!--GRID BLOG-->
                <div class="grid">
                  <div class="grid-item">
                    <div class="wrap-article">
                      <img alt="blog-1" class="img-circle text-center" src="/assets/blog-1.png">
                      <p class="subtitle fancy">
                        <span>1/06/2017</span>
                      </p>
                      <a href="#">
                        <h3 class="title">
                          DATA EXPLOSION!
                        </h3>
                      </a>
                      <p class="content-blog">
                        Data is being produced at an astonishing pace. According to Experts there will be a 4300% increase in annual data generated by 2020. The drive force behind this is switch from analog to digital technologies and the increase in data...<%= link_to "Read more", blog1_index_path, :style =>"color:blue;font-weight:bold;font-size:15px"%>
                      </p>
                    </div>
                  </div>


                </div>
                <!--/.GRID BLOG END-->
              </div>
            </div>
          </div>
        </section>
        <!--/.BLOG END-->

        <!--CONTACT-->
        <section id="contact" class="white-bg">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Contact</span>
                </h3>
                <p class="content-detail">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>

              </div>
              <div class="col-md-9 content-right">
                <form>
                  <div class="group">
                    <input required="" type="text"><span class="highlight"></span><span class="bar"></span><label>Name</label>
                  </div>
                  <div class="group">
                    <input required="" type="email"><span class="highlight"></span><span class="bar"></span><label>Email</label>
                  </div>
                  <div class="group">
                    <textarea required=""></textarea><span class="highlight"></span><span class="bar"></span><label>Message</label>
                  </div>
                  <input id="sendMessage" name="sendMessage" type="submit" value="Send Message">
                </form>
              </div>
            </div>
          </div>
        </section>
        <!--/.CONTACT END-->

        <!--FOOTER-->
        <footer>
          <div class="footer-top">
            <ul class="socials">
              <li class="facebook">
                <a href="#" data-hover="Facebook">Facebook</a>
              </li>
              <li class="twitter">
                <a href="#" data-hover="Twitter">Twitter</a>
              </li>
              <li class="gplus">
                <a href="#" data-hover="Google +">Google +</a>
              </li>
            </ul>
          </div>

          <div class="footer-bottom">
            <div class="container">
              <div class="row">
                <img src="images/logo-bottom.png" alt="logo bottom" class="center-block" />
              </div>
            </div>
          </div>
        </footer>
        <!--/.FOOTER-END-->

      <!--/.CONTENT END-->
      </div>
    <!--/.CONTENT-WRAP END-->
    </div>


    <script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="js/jquery.appear.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/classie.js" type="text/javascript"></script>
    <script src="js/owl.carousel.min.js" type="text/javascript"></script>
    <script src="js/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script src="js/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="js/masonry.js" type="text/javascript"></script>
    <script src="js/smooth-scroll.min.js" type="text/javascript"></script>
    <script src="js/typed.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
  </body>
</html>
