<div class="container">
  <div class="container">
    <div class="wrap-article">
      <img alt="blog-1" style="margin-left:450px" class="img-circle text-center" src="/assets/blog-1.png">
      <p class="subtitle fancy" style="margin-left:515px">
        <span>1/06/2017</span>
      </p>
      <a href="#">
        <h3 class="title" style="margin-left: 440px">
          DATA EXPLOSION!
        </h3>
      </a>
      <p class="content-blog">


        <img src="/assets/dataexplosion.jpg" class="blog-pic1" />

<span style="font-weight:bold;font-size:25px"> Where is the Data generated from?</span> <br />
According to CNN, Facebook has 1.86 billion active users as of the end of 2016. Every minute facebook users share 2,460,000 pieces of content, and its just limited to sharing content and not other features. The main question is does facebook really make the best use of the data it generates? Answer is simple, NO!. <br /><br />
  <img src="/assets/datasources.jpg" class="blog-pic" />
By 2020, experts predicts that more than 35 Zettabyte(ZB) of data will be generated.
For your reference, 1 ZB = 1 Billion TB = 1 Trillion GB.  That is heck loads of data!!!!
<br /><br />
Some say that about 90% of all the data in the world today has been created in the past few years.According to computer giant IBM, 2.5 exabytes - that's 2.5 billion gigabytes (GB) - of data was generated every day in 2012.
<br /><br />
So why is Facebook as well as all the companies not making the best use of its Data? The reason is because there is just too much data, majority of the data (nearly 70%) are unstuctured coming from sources such as text,voice and video.This new data is unstructured, not in nice tables with primary keys, and niche columns. This gives everyone a big headache! We have a treasure trove of information, but not enough people with the skill to extract the insight we need.
<br /><br />
Firms are inundated by data every day, from product sales to clicks on websites and the number of people entering a shop. Individually, the data points may seem random,  but, with the right tools, the millions of data points may tell a story, or predict a trend that few research methodologies are able to discern.
<br /><br />
According to SCMP, Companies now realise they have a treasure trove of valuable insights and information about  customers at their fingertips. Many are investing in big data, recognising that it is a critical part of their corporate strategy.

The users of big data stretch across industries, from e-commerce to health care and gaming and  from the private to public sectors.
Governments, the biggest collector of personal data, are using data to improve things such as tax collections, fine-tune policy and fix faulty train lines to name a few.<br /><br />

To conclude, why does Big Data play a crucial role in modern business strategy as well as the modern economy? Simply put, <span style="font-weight:bold;font-size:25px">Big Data Delivers.</span>

      </p>
    </div>
  </div>


</div>
